/* Base Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e3e9f3;
    color: #2c3e50;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #5c6bc0;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

.about, .projects {
    padding: 20px;
    margin: 20px;
}

.theme-toggle button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #333;
    position: fixed;
    top: 10px;
    right: 10px;
}

/* Catpuccin Light Theme */
body {
    background-color: #e3e9f3;
    color: #2c3e50;
}

header {
    background-color: #5c6bc0;
}

a {
    color: #3498db;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
}

/* Dark Theme */
body.dark {
    background-color: #2c3e50;
    color: #ecf0f1;
}

body.dark header {
    background-color: #34495e;
}

body.dark a {
    color: #9b59b6;
}

body.dark footer {
    background-color: #34495e;
}
